@font-face {
  font-family: "ridiBatang";
  src: url("../fonts/RIDIBatang.otf");
}
@font-face {
  font-family: "pretendard";
  src: url("../fonts/PretendardVariable.woff2");
}
@font-face {
  font-family: "pretendard black";
  src: url("../fonts/Pretendard-Black.woff");
}
@font-face {
  font-family: "pretendard extrabold";
  src: url("../fonts/Pretendard-ExtraBold.woff");
}
@font-face {
  font-family: "pretendard bold";
  src: url("../fonts/Pretendard-Bold.woff");
}
@font-face {
  font-family: "pretendard semibold";
  src: url("../fonts/Pretendard-SemiBold.woff");
}
@font-face {
  font-family: "gmarketMedium";
  src: url("../fonts/GmarketSansMedium.otf");
}
@font-face {
  font-family: 'SanFrancisco';
  src: url("../fonts/SFUIText-Light.otf")
}