.headerContainer {
  padding: calc(10px + 1vw) 0;
  display: flex;
  font-family:'raleway';
}

@media screen and (max-width: 500px) {
  .headerContainer {
    display: block;
  }
  .logoText{
    padding-bottom: calc(10px + 0.5vw);
  }
  .navContainer{
    line-height: 1.8;
  }
}


.logoText{
  display: inline-block;
  flex: 1;
  margin-right: calc(30px + 0.5vw);
  font-size: calc(12px + 0.5vw);
  color:rgb(255,128,0);
}
.logoText a:link{
  text-decoration: none;
  color:rgb(255,128,0);
}
.logoText a:visited{
  color:rgb(255,128,0);
  text-decoration: none;
}

.navContainer {
  display: inline-block;
  justify-content: flex-end;
}

.navText{
  font-size: calc(12px + 0.5vw);
  color: gray;
  margin-right: calc(8px + 1vw);
  text-decoration: none;
}

.navContainer [aria-current] {
    text-decoration: underline wavy;
    text-decoration-color: rgb(255,128,0);

    /* box-shadow: 0 -6px rgba(0, 102, 153, 0.5) inset;  #7A6629 */
}

.socialContainer{
  display: inline-flex;
  align-items: center;
}
.socialContainer img{
  margin-right: calc(8px + 1vw);
  vertical-align: middle;
}
/*
RGB 242, 102, 113 #F26671
RGB 137, 209, 217 #89D1D9 
RGB 242, 205, 92 #F2CD5C
RGB 242, 237, 228 #F2EDE4
RGB 242, 126, 99 #F27E63
*/

/*
#F26D6D RGB 242, 109, 109

#F28972 RGB 242, 137, 114

#2A2859 RGB 42, 40, 89

#58498C RGB 88, 73, 140

#A65D8C RGB 166, 93, 140
*/